.venv/
data/archives/
data/raw/
data/noise/
data/cache/
results/models/*.joblib
results/improvements/models/*.joblib
results/arduino/models/*.joblib
results/arduino_species/models/*.joblib
__pycache__/
.ipynb_checkpoints/
*.log
dist/
literature/*
!literature/README.md
.env
.env.*
tmp/
/arduino-cli
.arduino-tools/
data/external_datasets/
humbug_sample.wav
humbug_sample.aac
humbug_ann.txt
